<html>
<head>
<meta charset="windows-1251">
<link href="C:\Users\Денис\AppData\Local\Programs\Python\Python37-32\4.css" rel="stylesheet">
    <style>
        #firs{
background: transparent;
color: #000;
font-family: fantasy;
position: absolute;
left: 45%;
font-size: 400%;
}
#rt{
background: transparent;
color: #000;
font-family: fantasy;
position: absolute;
left: 47%;
font-size: 400%;
top: 23%;
}
#rк{
background: transparent;
color: #000;
font-family: fantasy;
position: absolute;
left: 40%;
font-size: 400%;
top: 36%;
}

</style>
</head>
<body>
<h1 id="firs">Fetrisa_toy</h1>
<div id="rt"><strong>Акции</strong></div>
<div id="rк">Увы пока их нет</div>
<div id="ew"><img
    src="43_2.jpg" alt="Упс"
    height="1560"
    width="1360"
>
</div>
</body>
</html>
